{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
    	<title>Myblog - {% block title %}{% endblock title%}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
		{% tailwind_css %}
	</head>

	<body>
		<header>
			<nav class="navbar bg-base-300 shadow-xl">
				<section class="flex-1">
					<a href="{% url 'index' %}" class="px-4 font-semibold text-2xl">Myblog</a>
					<span class="text-base-content/70">Express your opinions with ease</span>
				</section>
				<section class="flex-none">
					<ul class="menu menu-horizontal px-4">
						<li>
							<a class="text-xl font-semibold" href="{% url 'account:login' %}">Login</a>
						</li>
						<li>
							<a class="text-xl font-semibold" href="{% url 'account:login' %}">Register</a>
						</li>
					</ul>
				</section>
			</nav>
		</header>
	</body>
</html>
