{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Myblog - {% block title %}{% endblock title%}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>
		<div class="bg-white py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto max-w-2xl">
					<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blog</h2>
					<p class="mt-2 text-lg leading-8 text-gray-600">
						Here you can read about my opinion about various topics
					</p>

					{% block content %}{% endblock content %}
				</div>
			</div>
		</div>
	</body>
</html>
