{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
  <section class="py-4 px-8 m-4 flex flex-col items-start gap-6">
    <h2 class="text-4xl font-bold">Profile Settings</h2>
    <form class="grid grid-cols-1 gap-4" action="{% url 'account:profile' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <label for="first_name" class="floating-label">
            <span class="label">{{ field.label }}</span>
            {{ field }}
          </label>
        {% endfor %}
        <button class="btn btn-soft btn-info" type="submit">Update Profile</button>
    </form>
    <p class="text-lg text-base-content/70">
      If you would like to change your password,
      <a href="{% url 'account:password_change' %}" class="link link-primary link-hover">
        click here.
      </a>
    </p>
  </section>
{% endblock content %}