{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
    <section class="pt-8 pb-4 m-8 flex flex-col items-center gap-2"> 
        <h2 class="text-4xl font-bold">Register</h2>
        <span class="text-lg text-base-content/70">
            Already have an account? 
            <a href="{% url 'account:login' %}" class="link link-primary link-hover">
                Login here.
            </a>
        </span>
    </section>
    <section class="py-2 mt-2 flex flex-col items-center gap-6">
        <form class="grid grid-cols-1 gap-4" action="{% url 'account:register' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label class="floating-label" for="{{ field.name }}">
                    <span class="label">{{ field.label }}</span>
                    {{ field }}
                </label>
            {% endfor %}
            <button type="submit" class="btn btn-soft btn-info">Register</button>
        </form>
    </section>
{% endblock content %}